html {
    overflow-x: hidden;
    height: 100%;

}

body {
    background-image: url(../images/dark-background.png);
    height: 100%;
    margin: 0;
}


header {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    font-size: 70px;
    color: #ffffff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    font-size: 70px;
}

h2, h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff;
    font-size: 50px;
}



#newGame {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
}

footer {
   bottom: 0;
   width: 100%;
   color: white;
   text-align: center;
}

#gamePicture {
    border: #ffffff solid 2px;
    height: 300px;
    width: 300px;
}


.board {
    margin: 135px 300px 0;
}
#currentWordtitle {
    margin-top: 30px;
    margin-left: 270px;
}

#wrongLetterstitle {
    margin-top: 20px;
    margin-left: 270px;
}

#currentWord {
    border: solid 2px #ffffff;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 100px;
    text-align: center;
}

#wrongLetters {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 100px;
    text-align: center;
}

#startBanner {
    margin-left: 250px;
    margin-top: 110px;
    background-color: green;
    font-style: italic;
    z-index: 1;
    padding: 20px;
    border-radius: 15px 50px;
    opacity: 90%;

}

#nextRoundBanner {
    margin-left: 360px;
    margin-top: 310px;
    background-color: blue;
    font-style: italic;
    z-index: 1;
    padding: 20px;
    border-radius: 15px 50px;
    display: none;
    opacity: 90%;

}

#gameOverBanner {
    margin-left: 390px;
    margin-top: 310px;
    background-color: red;
    font-style: italic;
    z-index: 1;
    padding: 20px;
    border-radius: 15px 50px;
    display: none;
    opacity: 90%;

}

img {
    max-width: 300px;
    max-height: 300px;
}

#newGame:hover {
   opacity: 70%;
   transform: translateY(2px);
}